.section_ninth_contact_form {
    /* background-image: url("../img/contact/contact_bg_form.png"); */
    background-size: cover;
    background-color: hsla(217, 100%,calc(57% - 25%), 100%);
    padding: 72px;
}

.contact_side_bg {
    width: 88%;
    height: 100%;

}

.contact_side_bg>img {
    width: 100%;
    height: 100%;
}
.contact_form_bg > .contact_title > h3{
    font-size: 42px;
    font-weight: 600;
    color: #ffffff;
    line-height: 1.1;
}
.contact_form_bg > .contact_title > p {
    color: #FFFFFFCC;
    font-size: 19px;
    line-height: 1.7;
}
.contact_input {
    height: 70px;
    font-size: 15px !important;
    color: #212529 !important;
    /* font-weight: 500 !important; */
    padding:0px 20px;
}
.contact_input::placeholder 
{
    color:#b8b8b8 !important;
     font-size: 17px !important;
     
     font-family: "Outfit", sans-serif;
}
.textarea_input{
    color: #212529 !important;font-size: 15px !important;
    color: #212529 !important;
    font-weight: 600 !important;
}

.section_fourth_button > .contact_button {
    width: 100%;
    background-color: #fbe12e;
    padding:20px 36px;
     display: flex;
    justify-content: center;
  
}
.section_fourth_button > .contact_button:hover{
    background-color: #2478ff ;

}
.section_fourth_button > .contact_button:hover button{
    color: #ffffff;
}
.section_fourth_button > .contact_button > button{
    font-size: 24px;
     display: flex;
    justify-content: center;
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-weight: 600;
    text-transform: uppercase;
    align-items: center;
    color:#1c1d26;
}
.section_fourth_button > .contact_button > button > span > svg {
     font-weight: 700;
     transform: rotate(330deg);
     margin-left :10px;
     font-size: 27px;
}
