.sectiom_title > h5 {
  display: inline-block;
  padding: 4px 8px;
  background: linear-gradient(
    to top,
    hsla(52, 96%, 58%, calc(100% - 60%)) 40%,
    transparent 40%
  );
  color: #383838;
  font-size: 18px;
  font-weight: 700;
  font-family: var(--font-fam);
  margin-top: 10px;
}
.sectiom_title > h2 {
  font-size: 42px;
  line-height: 1.1;
  color: #1c1d26;
  font-weight: 600;
}
.section_cards{
    margin:20px 21px;
    
}
.section_cards:hover .card > .card_icon{
transform: translateX(40px);
}
.section_cards > .card {
  padding: 65px 40px;
  flex-direction: column;
   border-radius: 30px;

}
.section_cards:hover .card > .card_icon:hover::before{
background:hsla(0,0%,94%,1);
}

.section_cards > .card > .card_icon {
  width: 75px;
  height: 75px;
  margin:10px 0px 40px 0px;
  position: relative;
  cursor: pointer;
  transition: .32s ease-in-out;
}
.section_cards > .card > .card_icon::before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
border-radius: 50%;
  background:hsla(52, 96%, 58%, calc(100% - 85%));
}
.section_cards > .card > .card_icon > svg {
  color: #1c1d26;
  font-size: 80px;
position: relative;
}
.section_cards > .card > .card_title > h5{
line-height: 1.4;
font-size: 24px;
font-weight: 600;
}
.section_cards > .card > .card_title > p {
    font-weight: 300;
    font-size: 13px;
    color:#1c1d26;
 
}

.section_cards > .card > .card_options > p{
 font-weight: 300;
 font-size: 14px;
 color:#1c1d26;
 margin:0;
 padding-top:5px;
}
.section_cards > .card > .card_options > p > span > svg{
    transform: rotate(315deg);
    color:#2478ff;
    margin-right:10px;
}
