:root{
    --font-fm :"Outfit", sans-serif !important;
}

#blog_swiper>.swiper-wrapper {
    height: 100%;
    min-height: 500px;
    padding: 20px 0px
}

.blog_slider>.blog_title>h2 {
    font-size: 58px;
    line-height: 70px;
    font-family: "Plus Jakarta Sans";
    color: rgba(33, 34, 43, 1);
}

.blog_slider>.blog_title>p {
    Size: 16px;
    Line-height: 24px;
    Letter-spacing: 2px;
    color: blue;
}

.blog_slider>.blog_title>h2>span {
    color: blue;
}

.blog_slider>.swiper>.swiper-wrapper>.swiper-slide>.card {
    /* width: 400px; */
    height: auto;
    min-height: 416px;
    border-radius: 25px;
}

.blog_slider>.swiper>.swiper-wrapper>.swiper-slide>.card>.blog_time>p {
    font-family: "Plus Jakarta Sans";
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0%;
    color: rgba(112, 121, 137, 1);

}

.blog_slider>.swiper>.swiper-wrapper>.swiper-slide>.card>.blog_body {
    padding-top: 25px;
}
/* ********************************n */
/* .blog_slider>.swiper>.swiper-wrapper>.swiper-slide>.card>.blog_body>h2 {
    font-size: 32px;
    Line-height: 130%;
    vertical-align: middle;
    font-family: "Plus Jakarta Sans";
    Letter-spacing: -0.5px;
     display: -webkit-box;      
  -webkit-line-clamp: 4;      
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
} */
.blog_slider>.swiper>.swiper-wrapper>.swiper-slide>.card
{

    background-size: 100% !important;
    background-repeat: no-repeat !important;
    background-position: top center !important;
}

.blog_slider>.swiper>.swiper-wrapper>.swiper-slide>.card>.blog_button>button {
        padding: 10px 20px;


    font-weight: 600;
    font-size: 14px;
    color: black;
    line-height: 16.8px;
    letter-spacing: 0%;
    vertical-align: middle;

}

/* ********* hover */


.blog_slider>.swiper>.swiper-wrapper>.swiper-slide>.card {
    background-size: cover;
    width: 100%;
    
}


.blog_slider>.swiper>.swiper-wrapper>.swiper-slide>.card:hover>.blog_body>h2 {
    color: #ffff;
}

.blog_slider>.swiper>.swiper-wrapper>.swiper-slide>.card:hover>.blog_time>p {
    color: #ffff;
}

.blog_slider>.swiper>.swiper-wrapper>.swiper-slide>.card:hover>.blog_button>button {
    color: #ffff;

}

#blog_swiper .swiper-pagination-bullet {
    background-color: #6C6C6C;
    opacity: 1;
}

#blog_swiper .swiper-pagination-bullet-active {
    background-color: blue;
}