@media only screen and (max-width:768px) {
    .pbl{
    padding: 0px !important;
}
.md-padding{
padding:95px 30px 0px 30px;
}
.contact-info{
    margin-bottom: 40px;
}
.section_ninth_contact_form{
    margin:0px;
    
}
.map{
    margin-top:90px;
}
}

@media only screen and (max-width:425px){

    .section_ninth_contact_form{
        padding: 35px 22px;
    }
    .contact_input {
    height: 55px;
    }
    .section_fourth_button > .contact_button > button {
    font-size: 20px;
    }
    .section_fourth_button > .contact_button {
    padding: 16px 25px;
    }
    .question_items {
    margin: 10px 0px;
}
.question_items > .questions > ul > li > a {
    font-size: 17px;
}
.question_section > .asked_question_title h2 {
    font-size: 35px;
}
.question_section > .asked_question_title h5 {
    font-size: 15px;
}
.contactBanner {
    height: 240px;
}
}
@media only screen and (max-width:375px) {
    .contactBanner > .bannerContent > h2 {
    font-size: 50px;
    }
    
}
@media only screen and (max-width:330px) {
    .contactBanner > .bannerContent > h2 {
    font-size: 42px;
    }
    .section_fourth_button > .contact_button > button {
        font-size: 16px;
    }
    
}