.mission_content > h5{
     display: inline-block;
   background: linear-gradient(
    to top,
    hsla(113, 56%, 80%, calc(100% - 40%)),
    transparent 40%
  );
    color: #1c1d26;
    font-size: 19px;
    font-weight: 700;
    margin-top: 10px;
    text-align: start;
}
.mission_content {
  padding:0px 80px;
}
.mission_text{
     display: flex;
   width: 100%;
    height: 100%;
    align-items: center;
     justify-content: center; 
}
.mission_content > h2
{
 font-size: 42px;
    line-height: 1.1;
    color: #1c1d26;
    text-transform: capitalize;
    font-weight: 700;
}