.accordian_top_title>p {
    padding: 24px 8px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 300;


}

.accordian_top_title>h2 {
    font-size: 48px;
    font-weight: 600;
    line-height: 56px;
}

.accordion-button::after {
    display: none;
}

.accordion-items {
    border-top: 1px solid #787878;
    padding: 24px 30px;
    background-color: #fff;
    transition: all .3s ease-in-out 0s;
}


.accordion>.accordion-item {
    border-left: 0px;
    border-right: 0px;
    background-color: #F5F9FF;

}

.accordian_header>.accordian_title>h3 {
    font-size: 40px;
    font-weight: 500;
    line-height: 47.87px;
    display: block
}

.collapse {
    visibility: visible;
}


.accordion-button:not(.collapsed) {
    background-color: #F5F9FF !important;
    box-shadow: none !important;
}



.accordian_icon .show_arrow span svg {
    transition: 4s ease-in-out;
    font-family: "Outfit", system-ui;

    border-radius: 50%;
}

.accordion-item:hover .accordian_icon .show_arrow span svg {
    font-size: 22px;
    padding: 2px;
    background-color: #0a58ca;


}

.accordion-body {
    padding: 0px 30px !important;
}

.accordion_body>p {
    font-size: 16px;
    line-height: 24px;
    padding: 0 0 30px;
    margin: 0;
    color: #000;
}

.open {
    background-color: #F5F9FF;
    padding-top: 44px;
    padding-bottom: 8px;
    transition: .2s ease-in-out;
}

.accordion-button {
    padding: 24px 30px !important;
}