.talentSource_title > h5{
    display: inline-block;
   background: linear-gradient(
    to top,
    hsla(113, 56%, 80%, calc(100% - 40%)),
    transparent 40%
  );
    color: #b7e9b0;
    font-size: 19px;
    font-weight: 700;
    margin-top: 10px;
}
.talentSource_title{
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}
.talentSource_title > h2{
     font-size: 42px;
    line-height: 1.1;
    color: #f7f7f7;
    text-transform: capitalize;
    font-weight: 700;
}
.talentSource_title > p {
    columns: 1;
    color: hsla(0, 0%, 100%, calc(100% - 20%));
    font-size: 24px;
   
   
}
.talent_source_bg {

    background-color: #00358a;
    position: relative;
}
.talent_source_box{
    padding:0px 95px 95px 95px;
    justify-content: center;
    align-items: center;
}
/* ************************ */
.top_header_bg{
display: flex;
    justify-content: end;
    margin-bottom: 10px;
}
/* ************* */
.circle_section{
    padding:20px;
    display: flex;
    justify-content: center;
}
.circle_box{
    width: 500px;
    height: 500px;
    border:2px dotted #f7f7f7;
    border-radius: 50%;
    position: relative;
}
.circle_box > .icon {
    width:50px;
    height: 50px;
    position: absolute;
    background-color: #00358a;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle_box > .icon > svg{
    font-size: 26px;
    color: #f7f7f7;
}
.circle_box > .icon:nth-child(1)
{
    top:25%;
    left: 0;
}
.circle_box > .icon:nth-child(2)
{
    top:25%;
    right: 0;
}
.circle_box > .icon:nth-child(3)
{
    top:68%;
    right: 0;
}
.circle_box > .icon:nth-child(4)
{
    top:68%;
    left: 0;
}
.circle_box > .icon:nth-child(5)
{
    bottom:-5%;
    left: 45%;
}
.circle_box > .icon:nth-child(6)
{
    top:-5%;
    left: 45%;
}
/* ******** */
.circle_box > .circle_box_content{
    width: 100%;height: 500px;
}
.circle_box > .circle_box_content > .box_content{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border:8px solid #b7e9b0;
        display: flex;
    justify-content: center;
    align-items: center;
    padding: 35px;
}
.circle_box > .circle_box_content > .box_content > .content
{
    text-align: center;
}
.circle_box > .circle_box_content > .box_content > .content > h4 {
font-size: 24px;

font-weight: 600;

}
.circle_box > .circle_box_content > .box_content > .content > p
{
      font-weight: 300;
  font-size: 12px;
  margin-top:15px;
  line-height: 1.7;
  color:hsla(0, 0%, 100%, calc(100% - 20%));
}

/* ************ */
.talent_source_rate_section > .source_rate_content > .rate > h2{
    font-size: 80px;
    font-weight: 600;
    line-height: 1.1;
    color:#ffff;
}
.talent_source_rate_section > .source_rate_content > .rate > p
{
   font-weight: 300;
  font-size: 12px;
  margin-top:15px;
  line-height: 1.7;
  color:hsla(0, 0%, 100%, calc(100% - 20%));  
}



/* ********************************************************************************************************** */
