.contact-info {
  margin: 0px 0px;
}

.contact-title > h2 {
  font-size: 28px;
  line-height: 1.1;
  color: #383838;
  text-transform: capitalize;
  font-weight: 600;
}
.address{
    margin-top:20px;
    display: flex;
    flex-direction: column;
    gap: 18px
}
.adress_info > h5 {
  display: inline-block;
  text-transform: capitalize;
  background: linear-gradient(
    to top,
    hsla(52, 96%, 58%, calc(100% - 60%)),
    transparent 40%
  );
  color: #383838;
  font-size: 19px;
  font-weight: 700;
  margin-top: 10px;
  text-align: start;
}

.adress_info > p {
  font-size: 14px;
  color: #383838;
  line-height: 1.5;
  font-weight: 300;
}
.adress_info >h2{
    font-size: 24px; color: #383838;
    font-weight:400;
}

/* ********************************************** */
.section_ninth_contact_form {
    /* background-image: url("../img/contact/contact_bg_form.png"); */
    background-size: cover;

    padding:48px 72px;
    margin:0px 21px;
}

.contact_side_bg {
    width: 84%;
    height: 100%;

}

.contact_side_bg>img {
    width: 100%;
    height: 100%;
}
.contact_form_bg > .contact_title > h3{
    font-size: 28px;
    font-weight: 600;
    color: #383838;
    line-height: 1.1;
}
.contact_form_bg > .contact_title > p {
    color: #FFFFFFCC;
    font-size: 19px;
    line-height: 1.7;
}
.contact_input {
    height: 70px;
    font-size: 15px !important;
    color: #212529 !important;
    /* font-weight: 500 !important; */
    padding:0px 20px;
}
.contact_input::placeholder 
{
    color:#b8b8b8 !important;
     font-size: 17px !important;
     
     font-family: "Outfit", sans-serif;
}
.textarea_input{
    color: #212529 !important;font-size: 15px !important;
    color: #212529 !important;
    font-weight: 600 !important;
}

.section_fourth_button > .contact_button {
    width: 100%;
    background-color: #2478ff;
    padding:20px 36px;
     display: flex;
    justify-content: center;
  
}
.section_fourth_button > .contact_button:hover{
    background-color: #383838 ;

}
.section_fourth_button > .contact_button:hover button{
    color: #ffffff;
}
.section_fourth_button > .contact_button > button{
    font-size: 24px;
     display: flex;
    justify-content: center;
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-weight: 600;
    text-transform: uppercase;
    align-items: center;
    color:#ffffff;
}
.section_fourth_button > .contact_button > button > span > svg {
     font-weight: 700;
     transform: rotate(330deg);
     margin-left :10px;
     font-size: 27px;
}