    :root {
    --grey: #d6d6d6 !important;
    --transper: hsla(67, 97%, 72%, 0.2);
    --font-fam: "Outfit", sans-serif !important;

    
}
.contactBanner{
    width: 100%;
    height: 300px;
    background-color: #2478ff;
    padding:80px 40px 80px 40px;
}
.contactBanner > .bannerContent >     h2{
    font-size: 56px;
    line-height: 1.1;
    font-family: var(--font-fam);
    font-weight: 600;
}
.contactBanner > .bannerContent > p{
    font-family: var(--font-fam);
}
.bannerImage {
    height: 300px;
    width: 100%;
}
.bannerImage  > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}