@media only screen and (max-width :768px) 
{
.section_cards > .card {
    padding: 50px 30px;
}
.section_cards {
    margin: 20px 0px;
}
.section_cards > .card > .card_title > h5 {
    font-size: 23px;
}
.staffing_box > .staffing_detail {
    padding: 10px 10px;
}
.staffing_box > .staffing_detail .title > h5 {
    font-size: 16px;
}
.staffing_box > .staffing_detail .title > .icon > svg {
    font-size: 42px;
    margin-right: 10px;
}
.talent_source_rate_section > .source_rate_content {
    text-align: center;
    margin-top: 20px;
}
.mission_img {
    width: 100%;
}
.mission_content
 {
    padding:0px;
    margin-top:20px;
    
 }
 .contact_side_bg {
    width: 100% !important;
 }
 .contact_side_bg>img {
    height: 500px !important;
    width: 100%;
    border-radius:20px;
    margin-bottom:30px;
    object-fit: cover;
 }
 .talent_source_box {
    padding: 60px 40px 60px 40px;
 }
}

/* **************************************************************************************************************************** */
@media only screen and (max-width:425px)
{
    .sectiom_title > h2 {
    font-size: 34px;
    }
    .sectiom_title > h5
 {
    margin-bottom: 10px !important;
    font-size: 15px;
 }
 .md-scroll-stack-block > .md-scroll-img  > img{
    width: 100%;
    height: 250px;
    object-fit: cover;
 }
 .md-scroll-details > .title > h2 {
    font-size: 34px;
 }
 .talentSource_title > h2 {
    font-size: 34px;
 }
 .talentSource_title > p {
    font-size: 18px;

 }
 .circle_section {
   
    padding: 0px;
 }
 .circle_box {
    height: 330px;

 }
 .circle_box > .circle_box_content {
    height: 330px;
}
.circle_box > .circle_box_content > .box_content > .content > h4 {
    font-size: 20px;

}
.circle_box > .circle_box_content > .box_content > .content > p {
    font-size: 11px;
}
.top_header_bg {
    margin-top: -10px;
}


.talent_source_rate_section > .source_rate_content > .rate > h2 {
    font-size: 60px;
}

}

/* ***************************************************************************************************** */
@media only screen and (max-width:390px)
{
    .service_banner > .banner_content > h2 {
    font-size: 42px;
    }
    .circle_box > .circle_box_content > .box_content > .content > h4 {
        font-size: 13px;
    }
        .circle_box > .circle_box_content > .box_content > .content > p {
        font-size: 9px;
    }
        .circle_box > .circle_box_content {
        height: 300px;
        }
            .circle_box {
        height: 300px;
    }
        .talent_source_rate_section > .source_rate_content > .rate > h2 {
        font-size: 50px;
    }
        .mission_img 
        {
            background-position:center;
        }
        .mission_content > h2 {
    font-size: 30px;
        }
}

/* ***************************************************************************************************** */
@media only screen and (max-width:375px)
{

    .circle_box {
        height: 275px;
    }
.circle_box > .circle_box_content {
        height: 275px;
    }
.circle_box > .icon > svg {
    font-size: 20px;
}
.circle_box > .icon {
    width: 40px;
    height: 40px;
}
}