@media only screen and (max-width: 768px) {
  .md-padding {
    padding: 30px 30px !important;
  }
  /* .employmentsolution>.title h2 {
    font-size: 37px;
    }
    .aboutService_box {
    padding: 25px 20px 20px 20px;
    }
    .box-title > h4{
        font-size: 20px;
    } */
  .right_block {
    padding: 0;
            margin-top: 35px;
  }
  .toggle_button > a {
    display: block;
    text-align: center;
  }
  .sticky_block {
    position: unset;
    margin: 0;
  }
  .makeithappen_block {
    margin-top: 50px;
  }
  .progress_number_block {
    margin-top: 50px;
  }
  .aword_box > .card > .aword_card_img > img {
    width: 45%;
    margin: auto;
  }
}
@media only screen and (max-width: 430px)
{
 .employmentsolution > .title h2 {
    font-size: 30px;
  }
  .employmentsolution > .title h6 {
    font-size: 13px;
  }
  
  .recruiter-banner {
    width: 100%;
    height: 280px;
  }
  .recruiter-banner > img {
    width: 100%;
    height: 280px;
    object-fit: cover;
  }
  .bg_color {
    padding: 0px !important;
  }
  .exper_section_title > h5 {
    display: inline-block;
    padding: 0px;
            margin: 17px 0px;
  }
  .exper_section_title > h2 {
    font-size: 31px;
  }
  .exper_detail {
    margin-bottom: 60px;
  }
  .future_section > .left_block > .block_img > img {
    width: 100%;
    height: 500px;
    object-fit: cover;
  }
  .right_block > .title > h2 {
    font-size: 31px;
  }
  .sticky_block > .make_it_happen_leftblock > .left_block_content h2 {
    font-size: 31px;
  }
  .aword_title > h2 {
    font-size: 31px;
  }
  .make_it_happen_leftblock {
    padding: 43px 32px;
  }
  .makeithappen_block {
    padding: 43px 32px;
  }
  .progress_title > h2 {
    font-size: 31px;
  }
  .md-padding {
    padding: 25px 10px !important;
  }
  .aword_box > .card > .aword_card_img > img {
    width: 65%;
  }
  .recruiter_info_box {
    height: auto;
    gap: 0;
  }
}

@media only screen and (max-width:390px)
{
    .sticky_block > .make_it_happen_leftblock > .left_block_content > .button > a {
    padding: 18px 24px;
    font-size: 20px;
    }
}

@media only screen and (max-width:375px)
{
    .aboutService_box {
    padding: 32px 40px 20px 30px;
    }
    .exper_section_title > h5
 {
    font-size: 17px;
 }
 .sticky_block > .make_it_happen_leftblock > .left_block_content > .button > a {
    padding: 18px 17px;
    font-size: 17px;
 }
    .progress_title > h2 {
        font-size: 26px;

    }
    .progress_number_block {
    margin: 20px 0px;
}

}

@media only screen and (max-width:330px)
{
    .aboutBanner > .bannerContent > h2 {
    font-size: 50px;
    }
    .recruiter_info_box > .title > h2 {
    font-size: 25px;
    }
    .recruiter_info_box > .icon > svg {
    font-size: 60px;
    }
    .recruiter_info_box > .detail > p {
    font-size: 14px;
    }
    .recruiter_info_box {
    padding: 30px !important;
    }
        .sticky_block > .make_it_happen_leftblock > .left_block_content h2 {
        font-size: 29px;
    }
    .bg_color:nth-child(2) > .recruiter_info_box > .title > h2 {
    font-size: 22px;
    }
    .bg_color:nth-child(3) > .recruiter_info_box > .detail > p {
    font-size: 17px;
}


.bg_color:nth-child(3) > .recruiter_info_box > .icon > svg {
    transform: rotate(325deg);
    font-size: 45px;
}
    .exper_section_title > h5 {
        font-size: 13px;
    }
}